.container{
    background: aquamarine;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
}